/*Раскадровка анимаций*/
@-webkit-keyframes perspectiveDown {
  0% {
    -webkit-transform-origin: 0 100%;
    -webkit-transform: perspective(0) rotateX(0deg);
  }

  100% {
    -webkit-transform-origin: 0 100%;
    -webkit-transform: perspective(1500px) rotateX(-84deg);
  }
}
@keyframes perspectiveDown {
  0% {
    transform-origin: 0 100%;
    transform: perspective(0) rotateX(0deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: perspective(1500px) rotateX(-84deg);
  }
}

@-webkit-keyframes perspectiveDown2 {
  0% {
    -webkit-transform-origin: 0 100%;
    -webkit-transform: perspective(0) rotateX(0deg);
  }

  100% {
    -webkit-transform-origin: 0 100%;
    -webkit-transform: perspective(1500px) rotateX(-83deg);
  }
}
@keyframes perspectiveDown2 {
  0% {
    transform-origin: 0 100%;
    transform: perspective(0) rotateX(0deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: perspective(1500px) rotateX(-83deg);
  }
}

/*свойства документа*/
html{
	margin: 0%;
	padding: 0%;
	}
	
body{
	background: 0% 50% url("images/img.jpg") no-repeat;
	background-size: 100% auto;
	overflow: hidden; 
	padding; 0%;
}
/*контейнер для папки*/
article {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0%;
	padding: 0%;
	top: 13%;
}


.folder{
	margin: auto;
	display: block;
	width: 56%;
	height: 60%;
	transform: translateY(20%) rotate(-1deg);
}

.list0{ 
	position: absolute;    
	left: 22.5%;
	top: 13%;
	z-index: 100;
	width: 56%;
	height: 60%;
}

.list{ 
	position: absolute;
	background: 0% 0% url("images/img5.png") no-repeat;
	background-size: 100%;    
	left: 24%;
	top: 20%;
	width: 50%;
	height: 51%;

}

.anim{
	-webkit-animation-duration: 0.9s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-backface-visibility: hidden !important; 
	-webkit-animation-name: perspectiveDown; 
		animation-timing-function: ease-in-out;  
		animation-duration: 0.9s;
		animation-fill-mode: forwards;
		backface-visibility: hidden !important;
		animation-name: perspectiveDown;
 }
 .anim2{
	-webkit-animation-duration: 0.9s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-backface-visibility: hidden !important; 
	-webkit-animation-name: perspectiveDown2; 
		animation-timing-function: ease-in-out;  
		animation-duration: 0.9s;
		animation-fill-mode: forwards;
		backface-visibility: hidden !ыimportant;
		animation-name: perspectiveDown2;
 }


/*кнопка на второй странице*/ 
.back {
	position: absolute; 
	background: 50% 0% url(images/input.png) no-repeat;
	background-size: auto 80%;
	min-width: 10%;
	min-height: 15%;
	height: 120px;
	left: 15%;
	top: 50%;
	transform: rotate(200deg)
}
.back:hover {
	background: 50% 0% url(images/hover.png) no-repeat;
	background-size: auto 80%;
	transition: 200ms;
	cursor: pointer;
}
 
.text {
	width: 52%;
	top: 5%;
	left: 42%;
	position: absolute;
	font-family: Comic Sans MS;
	font-size: 1em;
	transform: rotate(-1deg);
	text-shadow: 1.5px 0.5px 2px gray;			 
}
a {
	text-decoration: none;
} 

a:hover {
	color: slateblue;
	text-shadow: 3px 3px 3px gray;
} 

.chaos {
	display: block;
	font-size: 2em;
	width: 70%;
	height: 18%;
	font-family: Comic Sans MS;
	color:  #F5F5F5;
	margin: auto;
	margin-top: 1.5%;
	text-shadow: 4px 2px 4px black;
	transform: rotate(-1deg);
}

/*кнопка-листалка*/
label {
	display: none;
	position: absolute; 
	background: 50% 0% url(images/input.png) no-repeat;
	background-size: auto 80%;
	min-width: 10%;
	min-height: 15%;
	height: 120px;
	left: 75%;
	top: 40%;
}

label:hover {
	background: 50% 0% url(images/hover.png) no-repeat;
	background-size: auto 80%;
	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;
	cursor: pointer;
}

input[type=radio] {
	display: none;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5){
	display: block;
}
		
/* стиль фотографии на слайде*/		
.polaroyd {
	width: 35%; 
	height: auto; 
	position: absolute; 
	top: 10%;
	left: 3%;
	transform: rotate(-2deg) scale(1);
	transition: scale 0.5s;
}
.polaroyd:hover{
	transform: scale(1.1);
}

.chaos2 {
	position: absolute;
	top: 86%;
	left: 40%;
	z-index: 120;
	font-size: 2em;
	font-family: Comic Sans MS;
	text-shadow: 4px 2px 4px black;
	transform: rotate(-1deg);
	color: white;
}
.chaos2:visited, .chaos:link {color: white;}

a{color: white;}

.a1{
	text-decoration: underline;
    color: #d2d2d6;
}

.text a {color: slateblue;}

.text2 {
	font-size: 2em;
	font-family: Comic Sans MS;
	margin-top: 15%; 
	margin-left: 30%;
	text-shadow: 2px 2px 4px black;
	transform: rotate(-1deg);
	color: white;
}

ul {
	font-size: 1.8em;
	font-family: Comic Sans MS;
	margin-top: 5%; 
	margin-left: 30%;
	text-shadow: 2px 2px 4px black;
	transform: rotate(-1deg);
	color: white;
	list-style:none;   
	padding: 10px;
}

/*для широкоформатных мониторов (не трогать!)*/
@media screen and (min-device-aspect-ratio: 16/9) {
	body  {
		width: 100%;
		height: auto; 
		background-size: 100% 100%;
	}
	/* .chaos {margin-left: 15%; } */
	.folder  {
		display: block;
		width: 45%;
	}
	.list0 {
		width: 45.7%;
		left: 27.5%;
		top: 13.5%; 
	}
	.list {
		left: 29.5%;
		width: 41%;
		top: 21%;
	}

	.text {font-size: 20px;} 
	/* .chaos2 {position: absolute; 
		top: 8%; 
		left: 5%;
	} */
}
/*конец свойств для широкоформатников*/
